// @todo Scope this to ame-rich-text without importing global styles.
@import '../../../node_modules/quill/dist/quill.bubble';

ame-rich-text {
  .ql-container {
    display: block;
  }
  .ql-editor {
    font-size: initial;
    padding: inherit;
    line-height: inherit;
  }
}
